<!DOCTYPE html>
<html>
  <head>
    <title>ShowCase Media AI Video Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>

      body {
        font-family: Arial, sans-serif;
        background-color: #bebdbd;
      }

      h1,
      h2 {
        text-align: center;
        margin-top: 50px;
      }

      form {
        text-align: center;
        margin-top: 50px;
      }

      input[type="file"] {
        margin-top: 20px;
      }

      input[type="submit"] {
        margin-top: 20px;
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

       #visible {
        margin-top: 20px;
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      #visible:hover {
        background-color: #45a049;
      }

      hr {
        margin-top: 50px;
      }

      img {
        display: block;
        margin: auto;
        max-width: 100%;
        margin-top: 50px;
      }

      video {
        display: block;
        margin: auto;
        margin-top: 50px;
      }

      #transcription {
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f2f2f2;
      }

      #timings-link {
        display: block;
        margin: auto;
        margin-top: 20px;
        text-align: center;
      }

      #generate-script-button {
        display: block;
        margin: auto;
        margin-top: 20px;
        text-align: center;
      }
       #generate_script {
        margin-top: 20px;
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      #generate_script:hover {
        background-color: #45a049;
      }
        .cursor{
            cursor: grab;
    width: fit-content;
    margin: auto;
        }
        .cursor input{
        margin-right:8px;
        }


        .del-vid-but{
        background:green;

        }


        audio{
        width: 100%;
        }

        .thumb_video{
          height:58%;
        }

        .c1{
         border:1px solid black;
        }
<!--        .sec_uv{-->
<!--          background:black;-->
<!--        }-->
    </style>
  </head>

  <body>
    <h1>ShowCase Media AI Video Editor</h1>

    <!-- <p id="showmessage" class="text-center"></p> -->

    <div class="modal fade" id="showmessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center" style="color: green">Video Uploaded Successfully</div>
          <div class="modal-footer border-0"></div>
        </div>
      </div>
    </div>
    <!-- false message -->

    <div class="modal fade" id="showmessage2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center" style="color: red">Please select video</div>
          <div class="modal-footer border-0"></div>
        </div>
      </div>
    </div>

    <form id="transcription-form" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
          <div>
        <!-- Custom button to trigger file input -->
        <label for="fileInput" class="btn btn-light">Select Videos</label>

        <!-- Actual file input (hidden) -->
        <input type="file" class="video-input" id="fileInput" name="file" style="display:none" onchange="displayFileName(this)" accept="video/*" multiple/> <br />

        <!-- Display the selected file name -->
        <div id="fileName" class="file-name mt-2"></div>
    </div>
        <div>
<!--      <input type="file" name="file" class="video-input btn btn-secondary" accept="image/*,video/*" multiple /><br />-->
      <input type="submit" value="Upload Videos" id="uploadButton" />
<!--        <img src="./static/upload/Spinloader.gif" width="2%" id="visible" >-->

            <button style="display:none" class="btn btn-primary visible" type="submit" id="visible" >
  <span  class="spinner-border spinner-border-sm " aria-hidden="true"></span>
  <span role="status">Please wait</span>
</button>
</div>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
    // Function to display the selected file names
    function displayFileNames(input) {
        var files = input.files;
        var fileNames = [];
        for (var i = 0; i < files.length; i++) {
            fileNames.push(files[i].name);
        }
        document.getElementById('fileName').innerText = i+'videos';
    }

    // Use jQuery to trigger the file input when the label is clicked
    $(document).ready(function () {
        $('#fileLabel').click(function () {
            $('#fileInput').click();
        });

        // Handle the file input change event
        $('#fileInput').change(function () {
            displayFileNames(this);
        });
    });
</script>

<!--    Spinloader.gif-->
    <script>
      $(document).ready(function () {
        $("#uploadButton").click(function (e) {




          // Get the total number of selected files across all inputs
          var totalFiles = $(".video-input")[0].files.length;

          if (totalFiles > 0) {



$(this).hide();

       $('button.visible').show();
            $('form#transcription-form').submit();
            e.preventDefault();
          } else {
            e.preventDefault();
            $("#showmessage2").modal("show");
          }

          console.log("Total number of files selected: " + totalFiles);
        });
      });
    </script>

<!--    <hr />-->
    <!--  <h2>Uploaded Images:</h2>-->

    {% for image_file in image_files %}
    <img src="{{ url_for('static', filename='upload/' + image_file) }}" alt="{{ image_file }}" />
    {% endfor %}
<h2>Uploaded Videos:</h2>
<div class="container">
    <div class="row">
        {% for responses in response %}
            <h1>{{responses.message}}</h1>
        {% endfor %}

        {% for video_file in video_files %}
            <div class="col-lg-4 video-container" id="video{{ loop.index }}">
                <h3>{{video_file}}</h3>
                <video class="w-100" controls onplay="setAudio(this, '{{ video_file }}')">
                    <source src="{{ url_for('static', filename='upload/' + video_file) }}" type="video/mp4" />
                    <source src="{{ url_for('static', filename='upload/' + video_file) }}" type="video/mts" />
                    Your browser does not support the video tag.
                </video>
 <div class="container ">
 <div class="row ">

                {% for audio_file in audio_files %}
                    {% if audio_file.startswith(video_file|replace(".mp4", "")) %}

 <div class="col-lg-4 col-md-4 mt-3 ">

                            <audio id="audio{{ loop.index }}" controls data-audiofile="{{ audio_file }}" class="audiodelete">
                                <source src="{{ url_for('static', filename='upload/separate_audio/' + audio_file) }}" type="audio/mp3">
                                Your browser does not support the audio tag.
                            </audio>
                        </div>

<!--                            <button class="delete-audio-btn play-btn" data-audiofile="{{ audio_file }}" type="button">Play</button>-->
                    {% endif %}
                {% endfor %}

                        </div>
                        </div>

                <button class="delete-btn del-vid-but" data-filename="{{ video_file }}">Delete Video</button>
            </div>
        {% endfor %}
    </div>
</div>


<!--    <hr/>-->


 <div class="container-fluid sec_uv">
    <div class="row c1">
        <!-- Left Column with Video List -->
        <div class="col-lg-2  c1">
            <div class="row">
                {% for video_file in video_files %}
                    <div class="col-lg-6 p-1 video-container" id="video{{ loop.index }}">
                        <video class="w-100 thumb_video" controls onplay="setActiveVideo(this, '{{ video_file }}')">
                            <source src="{{ url_for('static', filename='upload/' + video_file) }}" type="video/mp4" />
                            <source src="{{ url_for('static', filename='upload/' + video_file) }}" type="video/mts" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Center Column with Active Video -->
        <div class="col-lg-7 c1">
            <div class="col video-container" id="activeVideo">
                {% if video_files %}
                    <!-- Display the first video initially -->
                    <video class="w-100" controls>
                        <source src="{{ url_for('static', filename='upload/' + video_files[0]) }}" type="video/mp4" />
<!--                        <source src="{{ url_for('static', filename='upload/' + video_files[0]) }}" type="video/mts" />-->
                        Your browser does not support the video tag.
                    </video>



                <div class="container ">
 <div class="row ">

                {% for audio_file in audio_files %}

 <div class="col-lg-4 col-md-4 mt-3 ">

                            <audio id="audio{{ loop.index }}" controls data-audiofile="{{ audio_file }}" class="audiodelete">
                                <source src="{{ url_for('static', filename='upload/separate_audio/' + audio_file) }}" type="audio/mp3">
                                Your browser does not support the audio tag.
                            </audio>
                        </div>

                {% endfor %}

                        </div>
                        </div>

                <button class="delete-btn del-vid-but" data-filename="{{ video_file }}">Delete Video</button>
                {% endif %}
            </div>
        </div>

        <!-- Right Column with Audio -->
        <div class="col-lg-3 c1" >

        </div>
    </div>
</div>


<script>
    // Set the active video and corresponding audio
    function setActiveVideo(videoElement, videoFile) {
        var activeMediaContainer = document.getElementById('activeMedia');
        var activeVideo = activeMediaContainer.querySelector('video');
        var activeAudio = activeMediaContainer.querySelector('audio');

        // Set the active video
        activeVideo.innerHTML = '';
        var sourceMP4 = document.createElement('source');
        sourceMP4.src = videoElement.querySelector('source[type="video/mp4"]').src;
        sourceMP4.type = 'video/mp4';
        activeVideo.appendChild(sourceMP4);
        activeVideo.load();
        activeVideo.play();

        // Create the active audio element if it doesn't exist
        if (!activeAudio) {
            activeAudio = document.createElement('audio');
            activeAudio.controls = true;
            activeAudio.id = 'activeAudio';
            activeMediaContainer.appendChild(activeAudio);
        }

        // Set the active audio based on the selected video
        activeAudio.innerHTML = '';

        {% for audio_file in audio_files %}
            {% if audio_file.startswith(videoFile|replace(".mp4", "")) %}
                var audioElement = document.createElement('audio');
                audioElement.controls = true;
                var sourceMP3 = document.createElement('source');
                sourceMP3.src = '{{ url_for('static', filename='upload/separate_audio/' + audio_file) }}';
                sourceMP3.type = 'audio/mp3';
                audioElement.appendChild(sourceMP3);
                activeAudio.appendChild(audioElement);
            {% endif %}
        {% endfor %}
    }
</script>












<script>
    function setAudio(video, videoFile) {
        const videoName = videoFile.replace(".mp4", "");
        const audioElements = document.querySelectorAll(`#video${video.id} audio[data-audiofile^='${videoName}']`);

        if (audioElements.length > 0) {
            audioElements.forEach(audioElement => {
                audioElement.currentTime = 0;
                audioElement.play();
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Add event listeners to all play buttons
        const playButtons = document.querySelectorAll('.play-btn');
        playButtons.forEach(button => {
            button.addEventListener('click', function () {
                const audioFile = this.getAttribute('data-audiofile');
                const audioElement = document.querySelector(`audio[data-audiofile='${audioFile}']`);

                if (audioElement) {
                    if (audioElement.paused) {
                        audioElement.currentTime = 0;
                        audioElement.play();
                    } else {
                        audioElement.pause();
                    }
                }
            });
        });
    });
</script>


</div>
    <script>
    $(document).ready(function () {

        $('.delete-btn').on('click', function () {
            var filename = $(this).data('filename');
        var commonPart = filename.split(' ')[0];

        // Select both audio and video elements with the common part
        var audiofile = $('[data-audiofile^="' + commonPart + '"]');
        var videoContainer = $('.video-container [data-filename^="' + commonPart + '"]');

        // Check if the audiofile element exists before attempting to remove
        if (audiofile.length > 0) {
            audiofile.remove();
            console.log('Audio file removed:', commonPart);
        } else {
            console.log('Audio file not found:', commonPart);
        }
             console.log(audiofile);



<!--            alert(filename);-->
            var videoContainer = $(this).closest('.video-container');

            // Remove the video container from the frontend
            videoContainer.remove();

            $('#sortable-list').find('[data-value="' + filename + '"]').remove();


            // Make an asynchronous request to delete the file on the server
            $.ajax({
                type: 'POST',
                url: '/delete_video_single',
                data: { filename: filename },
                success: function (response) {

                    console.log('File deleted successfully');
                },
                error: function (error) {
                    console.error('Error deleting file:', error);
                    // You might want to handle errors more gracefully
                }
            });
        });
    });
</script>

    {% if video_files %}
    <form method="get" action="/delete_videos">
      <button type="submit" class="btn btn-danger">Delete All Videos</button>
    </form>
    <hr />
    <h2>Generate <br>Transcription :</br></h2>
     <form method="POST" action="{{ url_for('generate_script') }}" id="generate_script_form">
      <div class="sortable-list" id="sortable-list">
        <!-- Add draggable attribute to each item -->
           {% if audio_files %}
        {% for audio_file in audio_files %}
        <div class="draggable-item cursor" draggable="true" data-value="{{ audio_file }}"  data-video-source="{{ url_for('static', filename='upload/' + audio_file) }}">

      <input type="checkbox" name="video_filenames[]" value="{{ audio_file }}" />{{ audio_file }}<br />
<!--      <input type="hidden" name="selected_order[]" value="{{ video_file }}" />-->
</div>
      {% endfor %}
          {% endif %}
</div>
      <input type="submit" value="Generate Script" id="generate-script-button" />
         <span style="color:red;display:none"  id="message_no_script">Please Select the Videos:</span>

 <button style="display:none" class="btn btn-primary generate_script" type="submit" id="generate_script" >
  <span  class="spinner-border spinner-border-sm " aria-hidden="true"></span>
  <span role="status">Please wait</span>
</button>
</form>

   <script>
    $(document).ready(function () {
        $("#generate-script-button").click(function (e) {
            e.preventDefault();
 var selectedFiles = $("input[name='video_filenames[]']:checked").length;

            if (selectedFiles > 0) {



$(this).hide();
$("#message_no_script").hide();

       $('button.generate_script').show();
            $('form#generate_script_form').submit();


          } else {

            $("#message_no_script").show();
             e.preventDefault();
          }

        });
    });
</script>


    <div id="transcription">
      {% if transcript %}
      <h3>Generated Script:</h3>
      <pre>{{ transcript }}</pre>
      {% endif %}
    </div>
    <a href="{{ url_for('timings') }}" id="timings-link">Enter Timings</a>
    {% endif %}
<!--    &lt;!&ndash; The Modal &ndash;&gt;-->
<!--    <div id="uploadSuccessModal" class="modal">-->
<!--      <div class="modal-content">-->
<!--        <span class="close" id="closeModal">&times;</span>-->
<!--        <p>Files uploaded and saved successfully!</p>-->
<!--      </div>-->
<!--    </div>-->
  </body>
  <script>
    var modal = document.getElementById("uploadSuccessModal");

    // Get the <span> element that closes the modal
    var span = document.getElementById("closeModal");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    };
  </script>


 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    const sortableList = document.getElementById("sortable-list");

    // Add event listeners for drag and drop
    sortableList.addEventListener("dragstart", (e) => {
        e.dataTransfer.setData("text/plain", e.target.dataset.value);
    });

    sortableList.addEventListener("dragover", (e) => {
        e.preventDefault();
    });

sortableList.addEventListener("drop", (e) => {
    e.preventDefault();
    const data = e.dataTransfer.getData("text/plain");
    const target = e.target;
    const draggableItem = document.querySelector(`[data-value="${data}"]`);
    if (target.classList.contains("draggable-item")) {
        // Check the mouse position to decide whether to insert before or after the target
        const rect = target.getBoundingClientRect();
        const mouseY = e.clientY;
        const midY = rect.top + rect.height / 2;
        if (mouseY > midY) {
            target.parentNode.insertBefore(draggableItem, target.nextSibling);
        } else {
            target.parentNode.insertBefore(draggableItem, target);
        }
        // Update the order of video-container elements based on the order of the draggable items
        updateVideoOrder();
    }
});


    // Function to update the order of video-container elements
    function updateVideoOrder() {
        const videoContainers = document.querySelectorAll(".video-container");
        const draggableItems = document.querySelectorAll(".draggable-item");
        $.each(draggableItems, function (index) {
            const dataValue = $(this).data("value");


            const videoContainer = $("#video" + (index + 1));
            // console.log(videoContainer);
            videoContainer.empty(); // Clear the container
                const video = $("<video>").addClass("w-100").attr("height", "360").attr("controls", "");
                const source = $("<source>").attr("src", getVideoSource(dataValue)).attr("type", "video/mp4");
                video.append(source);
                videoContainer.append(video);

        });
    }

function getVideoSource(itemValue) {


    // Retrieve the video source URL from the data-video-source attribute
    const videoElement = $(".draggable-item[data-value='" + itemValue + "']");

    const videoSource = videoElement.data("video-source");



        return videoSource;


    // Handle the case where the source URL is not found

}




</script>
</html>
